<h1>My Account</h1>
 <%= link_to "Edit my account", "/users/#{@user.id}/edit" %>
 <%= link_to "Add a product", "/products/new"%>
 <%= link_to "View all products", show_by_merchant_path %>
 <%= link_to "View my orders", transactions_show_all_path %>
